<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emergencysafety">

    <!-- İnternet (WhatsApp API için) -->
    <uses-permission android.permission.INTERNET />
    <uses-permission android.permission.ACCESS_NETWORK_STATE />

    <!-- Konum (Acil durum mesajına Google Maps linki eklemek için) -->
    <uses-permission android.permission.ACCESS_FINE_LOCATION />
    <uses-permission android.permission.ACCESS_COARSE_LOCATION />

    <!-- Ses ve Flaş (Ses komutu dinleme ve Siren/Flaş için) -->
    <uses-permission android.permission.RECORD_AUDIO />
    <uses-permission android.permission.CAMERA />

    <application
        ... >
        ...
    </application>
</manifest>
